[defaults]
inventory=./my_inventory
#remote_user = mwilling
#private_key_file = ~/.ssh/id_rsa
vault_password_file = ./.vault-pass

[privilege_escalation]
# This section defines default settings for privilege escalation.
# You can override these in playbooks or on the command line.

# become = False
# become_method = sudo
# become_user = root
# become_ask_pass = False


